#choy_body   {

background-color: #d06c5d;
width: 1400px;
height: 1800px;
background-position:fixed;
overflow-x: hidden;
overflow-y: visible;
}

#top_right {
width: 378px;
height: 576px;
position: absolute;
top: 0px;
left: 1124px;
}


#front_door {
width: 381px;
height: 576px;
position: absolute;
top: 576px;
left: 744px;
}


#sky_triangle {
width: 322px;
height: 576px;
position: absolute;
top: 0px;
left: 0px;
}


p {
top: -20px;
left: 321px;
width: 425px;
height: 580px;
background-color: #d06c5d;
background-repeat: no-repeat;
position: absolute;
z-index: 10;

}

p:hover {

background-color: #cc6959;
background-repeat: no-repeat;
position: absolute;
z-index: 10;

}

p2 {
top: 576px;
left: 744px;
width: 381px;
height: 576px;
background-color: transparent;
background-repeat: no-repeat;
position: absolute;
z-index: 10;

}

p2:hover {

background-color: #cc5d4b;
background-repeat: no-repeat;
position: absolute;
z-index: 10;

}


#garage {
width: 448px;
height: 687px;
position: absolute;
top: 1113px;
left: 321px;
}

#left_block {
width: 321px;
height: 539px;
position: absolute;
top: 576px;
left: 0px;
}











